<div class="row" id="credit-section">
  <h5>Credit: Many sound effect are from www.freesound.org</h5>
  <p>'game start' by plasterbrain (www.freesound.org/people/plasterbrain/)</p >
  <p>'synthetic guitar pluck (180BMP)' by staicpony1 (www.freesound.org/people/staticpony1/)</p >
  <p>'futuristic suspense synth' by tyops (www.freesound.org/people/tyops/)</p>
</div>
