<form>
  <label for="playerRed">Player Red name</label>
  {{input value=playerRed id="playerRed"}}<br>
  <label for="playerBlack">Player Black name</label>
  {{input value=playerBlack id="playerBlack"}}<br>
  <button {{action 'setupGame'}}>Start a new game</button>
</form>
