<h5 id="short-infomation">
  - Click a piece to pick it up then place it on a blank light space. <span style="color:red">Dragging a piece won't work on this app.</span><br>
  - The opaque piece means that the move hasn't been completed yet.<br>
  - If there is no possible capture, the player needs to click on the opaque piece again to complete the turn.<br>
  - If more than one capture is available, the player is free to click the empty possible spaces to move the piece.<br>
  - Non-kings, are always limited to forward moves.<br>
  - Kings are limited to moving diagonally, but may move both forward and backward.<br>
</h5>
