<div class="background_about">
  <div class="container">
    <!-- <div class="aboutHeader">
      {{#link-to 'index'}}<h2>Home</h2>{{/link-to}}
    </div> -->


    <div class="jumbotron">
      <h3 id="about">
        We are a small team of developers. Developers with a dream of doing something
        great! Something big! Something we can look back on and say "YES! We did it!". What better way to accomplish this than...<strong>CHECKERS!</strong>
      </h3>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <div class="bioContainer">
            <img id="photo" src="assets/images/Dan.jpg" />
            <p class="bio"><strong>
              Dan is Electrical Engineer who is chasing his passion for Back-End web development. He is fond of writing Back-End logic in multiple languages like Javascript, Java, C++, C#, Python, Verilog.
            </strong></p>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="bioContainer2">
            <img id="photo" src="assets/images/Inn.jpg" />
            <p class="bio"><strong>
              In hails from Thailand. He is currently studying Engineering Management while attending Epicodus. He enjoys both Front-End and Back-End development.
            </strong></p>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="bioContainer3">
            <img id="photo" src="assets/images/Nadiya.jpg" />
            <p class="bio"><strong>
              Nadiya is a world traveler who originally comes from the Ukraine. She loves exploring new technology languages and specializes with Java.
            </strong></p>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="bioContainer4">
            <img id="photo" src="assets/images/Reed.jpg" />
            <p class="bio"><strong>
              Reed is a retired Firefighter EMT who is going through a career change. He is a full-stack developer who mainly identifies with developing Front-End technologies.
            </strong></p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
