
<div class="container">
  {{outlet}}

  <br><br>
  {{#link-to 'index'}}index{{/link-to}}<br>
  {{#link-to 'checkers'}}checker game{{/link-to}}<br>
  {{#link-to 'about'}}About{{/link-to}}<br>
  {{#link-to 'contact'}}Contact{{/link-to}}
</div>
