<h1>if you have questions or comments please feel free to contact any of us via Github messaging.</h1>

<h3>Any other form of inquiries we only accept through carryer pidgeon or howl.</h3>


<p>
  Question Board Street<br>
  1234 Sketch-ville<br>
  Portland, OR 97233
</p>

<p>(555)555-5551</p>


{{#link-to 'about'}}About{{/link-to}}
{{#link-to 'index'}}Index{{/link-to}}
