<h1 id="contact_head">If you have questions or comments please feel free to contact any of us via Github messaging.</h1>

<div id="contact_container" class="container">
  <div class="row">
    <div class="col-md-6">

      <div class="inthra">
        <img id="contact_image" src="assets/images/Dan.jpg" />
        <h5>See Dan's<a href="https://github.com/inthra">Github</a> for messaging purposes</h5>
      </div>
    </div>

    <div id="contact_info" class="container">
    <div class="col-md-6">
      <h2>Any other form of inquiries we only accept through carryer pidgeon or howl.</h2>
      <h3>
        Question Board Street<br>
        1234 Sketch-ville<br>
        Portland, OR 97233
      </h3>

      <h3>(555)555-5551</h3>
    </div>
    </div>
  </div>
</div>
