<h1>Welcome to Space Checkers</h1>
<h3>How To Play (Using Standard U.S. Rules)</h3>
<div class="row">
  <div class="col-xs-9">
    <h5>
      <ol id="checker-rules">
        <li>Space Checkers is played by two pilots. Each pilot begins the game with 12 spaceships.</li>
        <li>The board consists of 64 universe squares, alternating between 32 dark and 32 light space.</li>
        <li>
          Orange spaceship moves first.
          <img src="/assets/images/circle-red.png" alt="circle-red image" width="60px">
          Then, pilots alternate moves.
          <img src="/assets/images/circle-black.png" alt="circle-black image" width="60px">
        </li>
        <li>Moves are allowed only on the light spaces, so spaceships are always move diagonally. Single spaceships are always limited to forward moves (toward the opponent).</li>
        <li>A spaceship making a non-capturing move (not involving a jump) may move only one space.</li>
        <li>A spaceship making a capturing move (a jump) leaps over one of the opponent's spaceships, landing in a straight diagonal line on the other side. Only one spaceship may be captured in a single jump; however, multiple jumps are allowed on a single turn.</li>
        <li>When a spaceship is captured, it is removed from the universe squares.</li>
        <li>If a jump is available for one of your spaceships, you must make that jump. If more jumps are available with that same spaceship, you must continue to jump with it until it can jump no more. If more than one capture is available, the pilot is free to choose whichever he or she prefers.</li>
        <li>
          When a spaceship reaches the furthest row from the pilot who controls that spaceship, it is crowned and becomes a king.<br>
          <img src="/assets/images/king-red.png" alt="king-red image" width="60px">
          <img src="/assets/images/king-black.png" alt="king-black image" width="60px">
        </li>
        <li>Kings are limited to moving diagonally, but may move both forward and backward. Non-kings, are always limited to forward moves.</li>
        <li>Kings may combine jumps in several directions (forward and backward) on the same turn.</li>
        <li>A pilot wins the game when the opponent cannot make a move. In most cases, this is because all of the opponent's pieces have been captured, but it could also be because all of his spaceships are blocked in.</li>
      </ol>
    </h5>
  </div>
</div>
<h4>Average Time Required: 10 minutes</h4>
<h5><a href="http://www.itsyourturn.com/t_helptopic2030.html">Click Here</a> to know more about Checkers.</h5>
